.nyoba-coy {
  font-size: 35px;
}

.filter-gradient.blue:after {
  background: radial-gradient(ellipse at center, #1e5799 0%,rgba(54, 151, 142, 0.8) 50%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%);
}

.bottomExtraSpace {
  width: 100%;
  height: 1px;
  padding-bottom: 100px;
}

#text-opening {
  font-family: 'Daydream', serif;
  color: #FFF;
  text-align: center;
}

#text-opening h4, #text-opening h5 {
  font-family: 'Montserrat', serif;
}

#text-opening h1 {
  font-family: 'Big John', serif;
  font-size: 75px;
  font-weight: bold;
}

.btn-social>:first-child {
  border-right: none;
}

#go-dashboard a,
#sign-up a {
  margin-top: 18px;
}

#go-dashboard a,
#sign-up a {
  background: #FFF7FF;
  padding: 8px 10px;
  border-radius: 5px;
  color: #000;
  opacity: 1;
}

#go-dashboard a:hover,
#sign-up a:hover {
  background: blue;
  color: #FFF;
}

.logo-container .logo {
  border-radius: 0%;
  border: none;
  width: 200px;
  float: left;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .logo-container .logo {
    margin-top: 10px;
    margin-left: -15px;
  }
}

.landing-page .section-presentation img {
  height: auto;
  position: relative;
}

.landing-page .section-presentation img:first-child {
  margin-top: 35px;
  padding-left: 20px;
  margin-bottom: -50px;
}

.landing-page .testimonialWrap {

}

.landing-page .testimonialWrap .testimonials {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  align-items: center;
}

.landing-page .testimonialWrap .testimonialContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 400px;
}

.landing-page .testimonialWrap .testimonialContent .face,
.landing-page .testimonialWrap .testimonialContent .name,
.landing-page .testimonialWrap .testimonialContent .testimoni {
  align-self: center;
}

.landing-page .testimonialWrap .testimonialContent .face {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.landing-page .testimonialWrap .testimonialContent .face img {
  width: 180px;
}

.landing-page .testimonialWrap .testimonialContent .name {
  margin-top: 15px;
}

.landing-page .testimonialWrap .testimonialContent .name h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}

.landing-page .testimonialWrap .testimonialContent .name h3 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.landing-page .testimonialWrap .testimonialTabs {
  text-align: center;
}

.landing-page .testimonialWrap .testimonialTabs > ol {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.landing-page .testimonialWrap .testimonialTabs ol a:not(:first-child) li {
  margin-left: 40px;
}

.landing-page .testimonialWrap .testimonialTabs > ol > a > li {
  float: left;
}

.landing-page .testimonialWrap .testimonialTabs > ol > a:hover > li:before {
  color: red;
  cursor: pointer;
}

.landing-page .testimonialWrap .testimonialTabs > ol > a.active > li:before {
  color: red;
}

.landing-page .testimonialWrap .testimonialTabs > ol > a > li:before {
  content: "•";
  color: blue;
  font-size: 50px;
}

#events {
  padding: 10px 0;
  margin: 0;
}

#events .card .text h4 {
  font-size: 30px;
  font-family: 'Big John', serif;
}

#events .card .text h5 {
  font-size: 13px;
  margin-top: 25px;
  font-family: 'Big John', serif;
}

#events .card .icon {
  margin-top: 15%;
}

#competitions {
  padding: 10px 0 50px 0;
  margin: 0;
}

#competitions .card .text h4 {
  font-size: 20px;
  font-family: 'Big John', serif;
}

#competitions .card .text h5 {
  font-size: 13px;
  margin-top: 25px;
  font-family: 'Big John', serif;
}

#competitions .card .icon {
  margin-top: 15%;
}

#events .seminar .card.card-blue,
#competitions .web-dev .card.card-blue,
#competitions .programming .card.card-blue {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#events .seminar .card.card-blue:hover,
#competitions .web-dev .card.card-blue:hover,
#competitions .programming .card.card-blue:hover {
  background: #111;
  color: #FFF;
}

#contacts {
  color: #FFF;
}

#contacts h4 {
  color: #FFF;
}

#contacts .t-box .title {
  margin: 0 auto;
}

#contacts .t-box .logo {
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #FFF;
  border-radius: 70px;
  width: 60px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 10px;
}

#contacts .t-box .logo i {
  font-size: 50px;
  padding: 5px 0;
}

#contacts .t-box .content {
  margin-top: 30px;
}

#contacts .t-box .content p {
  font-size: 13px;
  margin-top: 0;
  font-weight: 100;
  line-height: 11px;
}

/* Pages Site Custom */
#pages.landing-page .parallax {
  height: 100px;
  background: #1C1D26;
}

#pages .filter-gradient.blue:after {
  background: none;
}

#pages .main-content {
  margin: 60px 0;
}

#pages .main-content .contest-logo {
  width: 250px;
  margin: 0 auto;
}

#pages .main-content .contest-logo img {
  width: 250px;
}

#pages .main-content h3.title {
  font-size: 40px;
  font-family: 'Big John', serif;
  margin-bottom: 45px;
}

#pages .p-s-left {
  padding: 0 10px;
}

#pages .p-s-left,
#pages .p-s-right {
  -moz-box-shadow: 0px 0px 8px #9697c1;
  -webkit-box-shadow: 0px 0px 8px #9697c1;
  box-shadow: 0px 0px 8px #9697c1; 
}

#pages .p-s-left ul.tabs {
  list-style: none;
  -webkit-padding-start: 0px;
}

#pages .p-s-left ul.tabs li {
  background: #384047;
  width: 100%;
  height: 50px;
  margin: 25px 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  line-height: 50px;
}

#pages .p-s-left ul.tabs li a,
#pages .p-s-left ul.tabs li a:link,
#pages .p-s-left ul.tabs li a:visited {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
}

#pages .p-s-left ul.tabs li:hover {
  background: #0c86f2;
  cursor: pointer;
}

#pages .p-s-left ul.tabs li:hover > a {
  color: #000;
}

#pages .p-s-right {
  text-align: left;
  padding: 35px 45px;
  font-size: 15px;
  font-family: 'Lato', serif;
  line-height: 25px;
}

#pages .p-s-right h3 {
  margin-bottom: 10px;
}

#pages .p-s-right h3:not(:first-child) {
  margin-top: 40px;
}

#pages .p-s-right ul,
#pages .p-s-right ol {
  margin-top: 20px;
}

#pages .p-s-right ul li {
  margin-top: 10px;
}

#pages .p-s-right ol li {
  font-weight: normal;
  margin-top: 10px;
}

#pages .p-s-left.col-md-2 {
  margin-bottom: 40px;
}

#pages .p-s-right.col-md-6 {

}

@media (max-width: 991px) {
  #pages .row.main-content {
    margin: 30px 5%;
  }
}

@media (min-width: 992px) {
  #pages .p-s-left,
  #pages .p-s-right {
    -moz-box-shadow: 0px 0px 8px #9697c1;
    -webkit-box-shadow: 0px 0px 8px #9697c1;
    box-shadow: 0px 0px 8px #9697c1;
  }

  #pages .p-s-left.col-md-2 {
    min-height: 200px;
    margin-left: 14%;
    margin-right: 5%;
  }

  #pages .p-s-right.col-md-6 {
    min-height: 200px;
  }
}

#pages #terms .content {
  text-align: left;
  padding: 35px 45px;
  font-size: 15px;
  font-family: 'Lato', serif;
  line-height: 25px;
}

#pages #terms .content h3 {
  margin-bottom: 10px;
}

#pages #terms .content h3:not(:first-child) {
  margin-top: 40px;
}

#pages #terms .content ul,
#pages #terms .content ol {
  margin-top: 20px;
}

#pages #terms .content ul li {
  margin-top: 10px;
}

#pages #terms .content ol li {
  font-weight: normal;
  margin-top: 10px;
}


/* Internal Competition Page */
.internalCompetition {}

.internalCompetition .col-md-10,
.internalCompetition .col-md-12 {
  margin-bottom: 60px;
}

.internalCompetition a .col-md-2,
.internalCompetition a .col-md-3 {
  font-size: 16px;
  color: #109CFF;
  font-family: 'Big John', serif;
  border-radius: 10px;
  border: 1px solid #109CFF;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.internalCompetition a .col-md-2 .fa,
.internalCompetition a .col-md-3 .fa {
  font-size: 100px;
  padding-bottom: 80px;
  color: #000;
}

.internalCompetition a .col-md-2:hover,
.internalCompetition a .col-md-3:hover {
  background: #111;
  color: #FFF;
  cursor: pointer;
}

.internalCompetition a .col-md-2:hover > .fa,
.internalCompetition a .col-md-3:hover > .fa {
  color: #FFF;
}

@media (min-width: 992px) {
  .internalCompetition a .col-md-2,
  .internalCompetition a .col-md-3 {
    margin-left: 2%;
  }
}

/* Login Page */
.loginPage {

}

.loginPage .container {
  margin-top: 2%;
}

.loginPage .company-logo {
  margin-bottom: 20px;
}

/* Registration Page */
#registerPage {
  margin: 80px auto;
}

#registerPage .btn {
  opacity: 1;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#registerPage .btn-primary {
  color: #fff;
  background-color: #337AB7;
  border-color: #2e6da4;
}
#registerPage .btn-primary:focus,
#registerPage .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
#registerPage .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

#registerPage .submit-button {
  float: none;
  margin: 0 auto;
  margin-top: 20px;
}

#registerPage .submit-button .btn {
  padding: 8px 15px;
}

/* Terms Page */
#terms .pages-logo {
  text-align: center;
  width: auto;
  float: none;
  margin: 0 auto;
  margin-bottom: 40px;
}

#terms .pages-logo img {
  border-radius: 10px;
  width: 60%;
}

#terms .content {
  font-size: 16px;
  line-height: 25px;
  font-family: 'Lato', serif;
}

#terms .content ul {
  margin-top: 20px;
}

/* Admin and User Dashboard */
.adminDashboard,
.userDashboard {

}

.adminDashboard .company-logo,
.userDashboard .company-logo {
  margin-top: 10px;
  margin-bottom: 25px;
}

.userDashboard .dashboard-message,
.adminDashboard .dashboard-message {
  margin: 5% 0;
  padding-bottom: 5%;
  font-family: 'Lato';
  font-size: 42px;
  font-weight: 800;
  border-bottom: 1px solid #e7e7e7;
}

.userDashboard.dashboard-message .user-name,
.adminDashboard .dashboard-message .user-name {
  font-size: 22px;
}

/* Admin Dashboard */
.adminDashboard {

}

.adminDashboard #users-table a.show-this,
.adminDashboard #users-table a.delete-this,
.adminDashboard #users-table a.verified-this {
  margin-left: 7px;
}

.adminDashboard .detail-user {
  padding-bottom: 100px;
}

.adminDashboard .detail-user .container-fluid  {
  margin-top: 20px;
}

.adminDashboard .detail-user .submit-area {
  margin-top: 40px;
}

.adminDashboard .galleries_area .col-md-9,
.adminDashboard .galleries_area .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.adminDashboard .galleries_area .col-md-9 {
  padding-right: 10px;
}

.adminDashboard .galleries_area img.galleries_prev {
  display: none;
  width: 100%;
  margin-bottom: 40px;
}

.adminDashboard .galleries-upload .row > .col-md-12 {
  margin-bottom: 50px;
}

.adminDashboard .galleries-upload h3:nth-child(1) {
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 6px;
  margin-top: 50px;
}

.adminDashboard .list-images .col-md-12:nth-child(1) {
  margin-bottom: 10px;
  text-align: center;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  align-items: center;
}

/* User Dashboard */
.userDashboard {
}

.userDashboard .homepage {
  padding-bottom: 200px;
}

.userDashboard .homepage .messages {
  text-align: center;
}

.userDashboard .homepage .user-comp-detail {
  margin-top: 50px;
  text-align: left;
}

.userDashboard .register-competition {

}

.userDashboard .pem_area .col-sm-9,
.userDashboard .pem_area .col-md-9,
.userDashboard .pem_area .col-xs-9,
.userDashboard .pem_area .col-sm-3,
.userDashboard .pem_area .col-md-3,
.userDashboard .pem_area .col-xs-3 {
  padding-left: 0;
  padding-right: 0;
}

.userDashboard .pem_area .col-md-9 {
  padding-right: 10px;
}

.userDashboard .surper_area .col-md-9,
.userDashboard .surper_area .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.userDashboard .surper_area .col-md-9 {
  padding-right: 10px;
}

.userDashboard .surper_area img.surper_file_prev,
.userDashboard .pem_area img.pem_file_prev {
  display: none;
  width: 100%;
  margin-bottom: 40px;
}

.userDashboard .register-competition .form-group {
  margin-top: 50px;
}

.userDashboard .register-competition .form-group .submit-now {
  text-align: center;
}

.userDashboard .register-competition .form-group .checkbox label {
  font-size: 15px;
  margin-top: 7px;
}

.userDashboard .detail-team {
  padding-bottom: 100px;
}

.userDashboard .detail-team h3 {
  margin-top: 50px;
}

.userDashboard .list-images .col-md-12:nth-child(1) {
  margin-bottom: 10px;
  text-align: center;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  align-items: center;
}

/* Custom Bootatrap */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}
.col-centered h4 {
  text-align: center;
}
